@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Roboto:wght@300;400&display=swap');

:root {
  --black: #111111;
  --light: #f1f2f3;
  --dark: #1d1d2d;
  --unicorn: linear-gradient(70deg, rgba(241, 39, 39, 1) 0%, rgba(236, 122, 40, 1) 5%, rgba(236, 159, 40, 1) 10%, rgba(236, 188, 40, 1) 15%, rgba(236, 207, 40, 1) 20%, rgba(214, 224, 40, 1) 25%, rgba(199, 236, 40, 1) 30%, rgba(120, 236, 40, 1) 35%, rgba(67, 236, 40, 1) 40%, rgba(54, 236, 91, 1) 45%, rgba(40, 236, 142, 1) 50%, rgba(40, 236, 198, 1) 55%, rgba(40, 215, 236, 1) 60%, rgba(38, 184, 231, 1) 65%, rgba(40, 139, 236, 1) 70%, rgba(75, 84, 236, 1) 75%, rgba(155, 40, 236, 1) 80%, rgba(199, 40, 213, 1) 85%, rgba(236, 40, 199, 1) 90%, rgba(238, 40, 134, 1) 95%, rgba(241, 39, 39, 1) 100%);
  --bg-track: #fafbfc;
  --main:  rgba(40, 236, 142, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: linear-gradient(180deg, #160b46, #585894);
  font-family: "Roboto";
  color: var(--light);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 10px;
  background-image: url(./bg.png);
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 100vh;
}

.container .layer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #00000091;
  z-index: 1;
}

.container .off-layer {
  z-index: 2;
  width: 100%;
}

.desc,
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  width: 100%;
}

.desc h1 {
  color: var(--main);
  padding: 10px 30px;
  font-size: 50px;
  text-align: center;
  border-radius: 5px;
  letter-spacing: 2px;
  font-weight: 400;
}

.desc p {
  font-size: 20px;
  text-align: center;
  font-weight: 300;
}

.main .control,
.main .control .box-container {
  display: flex;
  justify-content: center;
  overflow: auto;
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

.main .control .box-container {
  padding: 25px;
  overflow: auto;
  width: auto;
}

.main .controllers-container,
.main .controllers-container .dimensions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main .controllers-container .dimensions {
  max-width: 400px;
  width: 100%;
  overflow: hidden;
  font-weight: 400
}

.main .controllers-container h2 {
  font-weight: 300;
  font-size: 37px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 400;
}

.main .controllers-container .control span {
  margin-right: 15px;
}

.main .controllers-container .control input {
  margin-left: 15px;
  display: block;
  width: 45px;
  height: 20px;
  position: relative;
}

.main .controllers-container .control input:before,
.main .controllers-container .control input:after {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 10px
}

.main .controllers-container .control input:after {
  background-color: #545454;
  position: absolute;
  top: 2px;
  left: 2px;
  width: 18px;
  height: 18px;
  border-radius: 30% 70% 56% 44% / 31% 36% 64% 69%;
  transition: all 250ms ease
}

.main .controllers-container .control input:checked:after {
  left: calc(100% - 18px);
  transform: rotate(180deg);
  background-color: var(--main);
}

.main .controllers-container .control input:before {
  border: 1px solid #f1f2f321;
  background-color: var(--black);
  box-shadow: 0px 0px 15px -5px var(--black);
}

.main .controllers-container .dims {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 25px;
}

.main .controllers-container .dims .dim {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.main .controllers-container .dims .dim p {
  margin-right: 15px;
  text-transform: capitalize;
}

.main .controllers-container .dims .dim input {
  height: 32px;
  background: var(--black);
  color: var(--light);
  font-family: "Fira Code";
  font-weight: 700;
  width: 60px;
  text-align: right;
  border: 1px solid #f1f2f321;
  outline: none;
  padding-right: 10px;
}

.main .controllers-container .dims .dim:first-child input {
  border-radius: 40% 60% 24% 76% / 67% 35% 65% 33%;
}

.main .controllers-container .dims .dim:last-child input {
  border-radius: 37% 63% 61% 39% / 27% 57% 43% 73%;
}

.main .controllers-container .border-radius {
  display: flex;
  min-height: 45px;
  width: 100%;
  max-width: 500px;
  background: var(--black);
  padding: 5px 10px;
  justify-content: space-between;
  align-items: center;
  font-family: "Fira Code";
  border-radius: 3px;
  box-shadow: 0px 0px 15px -5px var(--black);
}

.main .controllers-container .border-radius p {
  width: calc(100% - 40px);
  font-size: 13px;
  font-weight: 700;
}

.main .controllers-container .border-radius p .prop {
  color: #35ffec;
}

.main .controllers-container .border-radius p .value {
  color: #ff612e;
}

.main .controllers-container .border-radius div {
  width: 30px;
  height: 30px;
}

.main .controllers-container .border-radius div button {
  width: 100%;
  height: 100%;
  background: var(--light);
  border: none;
  border-radius: 39% 61% 35% 65% / 59% 35% 65% 41%;
  padding: 5px;
  cursor: pointer;
  outline: none;
  transition: all 250ms ease
}

.main .controllers-container .border-radius div button:hover {
  background: var(--main)
}

.box {
  position: relative;
  margin: 50px;
}

.box>div>input {
  position: absolute;
}

.box .top {
  position: absolute;
  top: -30px;
  left: 0;
  width: 100%;
  height: 15px;
  transform-origin: center;
  transform: rotate(180deg);
}

.box .top.op {
  top: -70px;
  transform: rotate(0deg);
}

.box .left {
  transform-origin: left top;
  transform: rotate(90deg);
  position: relative;
  left: -10px;
  top: 0px;
}

.box .left.op {
  left: -65px;
  top: 100%;
  transform: rotate(270deg);
}

.box .right {
  position: relative;
  left: calc(100% + 10px);
  top: 100%;
  transform-origin: left top;
  transform: rotate(270deg);
}

.box .right.op {
  left: calc(100% + 65px);
  top: 0;
  transform: rotate(90deg);
}

.box .bottom {
  position: absolute;
  top: calc(100% + 17px);
  left: 0;
  width: 100%;
  height: 15px;
}

.box .bottom.op {
  top: calc(100% + 57px);
  transform: rotate(180deg);
}

.box .inner-box {
  width: 100%;
  height: 100%;
  background: transparent;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: 1px solid #f1f2f357;
}

.box .inner-box::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  z-index: -1;
  filter: blur(3px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  opacity: 1;
  background-position-x: 0%;
  background-position-y: 0%;
  background-image: var(--unicorn);
  background-size: 2000%;
  animation: run 100s linear 0s infinite normal none running;
}

@keyframes run {
  0% {
    background-position-x: 0%;
  }

  100% {
    background-position-x: 2000%;
  }
}

input[type=range] {
  -webkit-appearance: none;
  margin: 15px 0;
  width: 100%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: var(--bg-track);
}

input[type=range]::-webkit-slider-thumb {
  border: 1px solid var(--black);
  height: 16px;
  width: 16px;
  border-radius: 45% 55% 36% 64% / 38% 29% 71% 62%;
  background: var(--main);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: var(--main);
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: var(--bg-track);
  border: 0.2px solid var(--black);
}

input[type=range]::-moz-range-thumb {
  border: 1px solid var(--black);
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: var(--main);
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: var(--bg-track);
  border: 0.2px solid var(--black);
  border-radius: 2.6px;
}

input[type=range]::-ms-fill-upper {
  background: var(--bg-track);
  border: 0.2px solid var(--black);
  border-radius: 2.6px;
}

input[type=range]::-ms-thumb {
  border: 1px solid var(--black);
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: var(--main);
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
  background: var(--bg-track);
}

input[type=range]:focus::-ms-fill-upper {
  background: var(--bg-focus);
}