:root{
  --main-color: #004d40;
  --main-color-light: #004d4045;
  --dark-color: #212121;
  --dark-color-light: #33333325;
  --light-color: #F6F6FD;
  --red-color: #CC1439;
  --red-color-light: #B76D6D;
  
}

.container{
  display: block;
  background: var(--white-color);
  width: 450px;
  padding: 0 25px;
  margin: 25px auto;
  font-family: 'ropa sans', 'source sans pro', Helvetica, sans-serif;
  box-shadow: 0px 0px 4px -2px ;
  border-radius: 3px;
  border: 1px solid var(--main-color-light);
}

.container .header h1{
  font-size: 50px;
  color: var(--main-color);
  font-weight: 700;
  text-align: center;
  padding: 20px 0
}

.container .header .input{
  background: var(--white-color);
  display: block;
  height: 40px;
  border-radius: 0px;
  box-shadow: 0px 1px 4px -2px var(--dark-color-light);
  border-bottom: 1px solid var(--dark-color-light);
}

.container .header .input .add-todo{
  display: block;
  height: 100%;
  width: 88%;
  border: none;
  font-size: 17px;
  font-family: 'ropa sans', 'source sans pro', Helvetica, sans-serif;
  font-weight: light;
  color: var(--dark-color);
  padding-left: 10px;
  outline: none;
  float: left;
}

.container .header .input .add-btn{
  display: block;
  height: 100%;
  width: 12%;
  border: none;
  cursor: pointer;
  color: var(--main-color);
  font-size: 17px;
  outline: none;
  transition: all 250ms ease
}

.container .header .input button:hover{
  background: var(--main-color-light)
}

.container .main{
  margin: 25px 0 15px 0
}

.container .main .todo-item{
  display: block;
  margin-bottom: 10px;
  box-shadow: 0px 1px 4px -2px var(--dark-color-light);
  position: relative;
}

.container .main .todo-item.done{
  background: var(--main-color-light)
}

.container .main .todo-item.not-yet{
  background: var(--dark-color-light)
}


.todo-checked{
  display: block;
  width: 10%;
  height: 40px;
  float: left;
  position: relative;
}

.todo-checked input{
  display: block;
  width: 22px;
  height: 22px;
  margin: 10px;
  border-radius: 100%;
  border: 2px solid var(--main-color);
  outline: none;
  cursor: pointer;
}

.todo-checked input:checked::after{
  display: block;
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 100%;
  background: var(--main-color);
  position: relative;
  top: 2px;
  left: 2px
}

.todo-content{
  display: inline-block;
  width: 80%;
  padding: 10px;
}

.todo-delete{
  display: inline-block;
  width: 10%;
  text-align: center;
}

.todo-delete button{
  display: block;
  line-height: 0;
  height: 40px;
  width: 100%;
  border: none;
  color: var(--red-color-light);
  background: transparent;
  cursor: pointer;
  transition: all 250ms ease-in;
  outline: none;
}

.todo-delete button:hover{
  color: var(--red-color);
  transform: rotate(15deg)
}
