@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
:root {
  --light: #f1f2f3;
  --dark: #212121;
  --main: #bb0059;
  --light-pink: #fffaee;
  --unicorn: linear-gradient(
    70deg,
    rgba(241, 39, 39, 1) 0%,
    rgba(236, 122, 40, 1) 5%,
    rgba(236, 159, 40, 1) 10%,
    rgba(236, 188, 40, 1) 15%,
    rgba(236, 207, 40, 1) 20%,
    rgba(214, 224, 40, 1) 25%,
    rgba(199, 236, 40, 1) 30%,
    rgba(120, 236, 40, 1) 35%,
    rgba(67, 236, 40, 1) 40%,
    rgba(54, 236, 91, 1) 45%,
    rgba(40, 236, 142, 1) 50%,
    rgba(40, 236, 198, 1) 55%,
    rgba(40, 215, 236, 1) 60%,
    rgba(38, 184, 231, 1) 65%,
    rgba(40, 139, 236, 1) 70%,
    rgba(75, 84, 236, 1) 75%,
    rgba(155, 40, 236, 1) 80%,
    rgba(199, 40, 213, 1) 85%,
    rgba(236, 40, 199, 1) 90%,
    rgba(238, 40, 134, 1) 95%,
    rgba(241, 39, 39, 1) 100%
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  color: var(--dark);
}

.under-container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.under-container .left,
.under-container .right {
  width: 50%;
}

.under-container .right {
  transform-origin: center;
  transform: rotateX(0deg) rotateY(180deg);
}

.under-container .left img,
.under-container .right img {
  width: 50%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 100vh;
}

.header,
.desc,
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 1;
}

.header {
  min-height: 100vh;
  padding: 10px;
}

.desc {
  margin-bottom: 50px;
  max-width: 800px;
}

.desc h1 {
  color: var(--main);
  padding: 20px 0px;
  font-size: 63px;
  text-align: center;
  border-radius: 5px;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: relative;
}

.desc p {
  font-size: 21px;
  text-align: center;
  font-weight: 300;
}

.main .control,
.header .control .box-container {
  display: flex;
  justify-content: center;
  overflow: auto;
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

.header .control .box-container {
  overflow: auto;
  width: auto;
}

.main .controllers-container,
.main .controllers-container .dimensions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main .controllers-container {
  background-color: var(--light-pink);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(243, 61, 214, 0.25) 100%
  );
  padding: 100px 10px 150px 10px;
}

.main .controllers-container .dimensions {
  max-width: 400px;
  width: 100%;
  overflow: hidden;
  font-weight: 400;
}

.main .controllers-container h2 {
  font-size: 32px;
  color: var(--main);
  margin-bottom: 20px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}

.main .controllers-container .control span {
  margin-right: 15px;
}

.main .controllers-container .control input {
  margin-left: 15px;
  display: block;
  width: 45px;
  height: 20px;
  position: relative;
}

.main .controllers-container .control input:before,
.main .controllers-container .control input:after {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 10px;
}

.main .controllers-container .control input:after {
  background-color: #545454;
  position: absolute;
  top: 2px;
  left: 2px;
  width: 18px;
  height: 18px;
  border-radius: 30% 70% 56% 44% / 31% 36% 64% 69%;
  transition: all 250ms ease;
}

.main .controllers-container .control input:checked:after {
  left: calc(100% - 18px);
  transform: rotate(180deg);
  background-color: var(--main);
}

.main .controllers-container .control input:before {
  border: 1px solid #f1f2f321;
  background-color: var(--light);
  box-shadow: 0px 0px 5px -3px var(--dark);
}

.main .controllers-container .dims {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 25px;
}

.main .controllers-container .dims .dim {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.main .controllers-container .dims .dim p {
  margin-right: 5px;
  text-transform: capitalize;
}

.main .controllers-container .dims .dim input {
  height: 32px;
  font-size: 16px;
  background: var(--light);
  color: var(--dark);
  font-family: 'Inconsolata', monospace, sans-serif;
  font-weight: 700;
  width: 60px;
  text-align: right;
  border: 1px solid #f1f2f321;
  padding-right: 10px;
}

.main .controllers-container .dims .dim:first-child input {
  border-radius: 26% 40% 36% 31% / 39% 17% 64% 29%;
}

.main .controllers-container .dims .dim:last-child input {
  border-radius: 61% 39% 77% 23% / 27% 62% 38% 73%;
}

.main .controllers-container .border-radius {
  display: flex;
  min-height: 45px;
  width: 100%;
  max-width: 500px;
  background: var(--light);
  padding: 5px 10px;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
  box-shadow: 0px 0px 6px -3px var(--dark);
}

.main .controllers-container .border-radius p {
  font-family: 'Inconsolata', monospace, sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.main .controllers-container .border-radius p .prop {
  color: rgb(28 36 175);
}

.main .controllers-container .border-radius p .value {
  color: rgb(0 103 54);
  font-family: 'Inconsolata', monospace, sans-serif;
}

.main .controllers-container .border-radius div {
  width: 30px;
  height: 30px;
}

.main .controllers-container .border-radius div button {
  width: 100%;
  height: 100%;
  background: var(--dark);
  border: none;
  border-radius: 39% 61% 35% 65% / 59% 35% 65% 41%;
  padding: 5px;
  cursor: pointer;
  transition: all 150ms ease-out;
}

.main .controllers-container .border-radius div button:hover {
  background: var(--main);
}

.main .controllers-container .border-radius div button img {
  width: 100%;
  height: 100%;
}

.box {
  position: relative;
  padding: 9px;
}

.box:after {
  display: block;
  content: '';
  width: calc(100% - 20px);
  height: calc(100% - 18px);
  position: absolute;
  top: 6px;
  left: 8px;
  border: 3px dashed var(--dark);
  z-index: -1;
}

.box > div > input {
  position: absolute;
}

.box .top {
  position: absolute;
  top: 9px;
  left: 1px;
  width: 100%;
  transform-origin: center;
  transform: rotate(180deg);
}

.box .top.op {
  transform: rotate(180deg);
  top: 9px;
}

.box .left {
  transform-origin: left top;
  transform: rotate(90deg);
  position: relative;
  left: 2px;
  top: -9px;
}

.box .left.op {
  left: 2px;
  top: -9px;
}

.box .right {
  position: relative;
  left: calc(100% - 0px);
  top: calc(100% + 9px);
  transform-origin: left top;
  transform: rotate(270deg);
}

.box .right.op {
  top: calc(100% + 9px);
  left: calc(100% + 0px);
}

.box .bottom {
  position: absolute;
  top: calc(100% + -10px);
  left: 1px;
  width: 100%;
}

.box .bottom.op {
  top: calc(100% - 10px);
}

.box .top:hover,
.box .left:hover,
.box .bottom:hover,
.box .right:hover {
  z-index: 100;
}

.box .inner-box {
  width: 100%;
  height: 100%;
  background: transparent;
  position: relative;
  overflow: hidden;
  z-index: -1;
}

.box .inner-box::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  z-index: -1;
  filter: blur(3px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  opacity: 1;
  background-position-x: 0%;
  background-position-y: 0%;
  background-image: var(--unicorn);
  background-size: 2000%;
  animation: run 100s linear 0s infinite normal none running;
}

@keyframes run {
  0% {
    background-position-x: 0%;
  }

  100% {
    background-position-x: 2000%;
  }
}

.range {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 4px;
  background: transparent;
  -webkit-transition: 250ms;
  transition: opacity 250ms;
}

input[type='range'] {
  -webkit-appearance: none;
  width: 100%;
}

input[type='range']:focus {
  outline: none;
}

input[type='range']::-moz-range-track {
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: transparent;
}

input[type='range']::-moz-range-thumb {
  -moz-appearance: none;
  appearance: none;
  height: 12px;
  width: 12px;
  border-radius: 0;
  border: 2px solid var(--main);
  cursor: pointer;
  position: relative;
  transition: all 100ms ease-in;
}

input[type='range']:hover::-moz-range-thumb {
  border: 4px solid var(--main);
}

input[type='range']::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: transparent;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 12px;
  width: 12px;
  border: 2px solid var(--main);
  cursor: pointer;
  position: relative;
  transition: all 100ms ease-in;
}

input[type='range']:hover::-webkit-slider-thumb {
  border: 4px solid var(--main);
}

input[type='range']::-ms-track {
  -ms-appearance: none;
  appearance: none;
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: transparent;
}

input[type='range']::-ms-thumb {
  -ms-appearance: none;
  appearance: none;
  height: 12px;
  width: 12px;
  border-radius: 0;
  border: 2px solid var(--main);
  cursor: pointer;
  position: relative;
  transition: all 100ms ease-in;
}

input[type='range']:hover::-ms-thumb {
  border: 4px solid var(--main);
}

.footer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 25px 50px;
  background-color: var(--main);
  background-image: url(./assets/footer-bg.svg);
}

.footer .copyrights {
  display: flex;
  color: var(--light);
  font-size: 16px;
}

.footer .copyrights a {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

.footer .copyrights a img {
  width: 100%;
  height: 100%;
}

.footer .links {
  display: flex;
}

.footer .links ul {
  display: flex;
  list-style: none;
}

.footer .links ul li {
  display: block;
  width: 20px;
  height: 20px;
  margin: 0 10px;
}

.footer .links ul li a img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 720px) {
  .desc h1 {
    font-size: 45px;
  }

  .desc p {
    font-size: 21px;
  }
}

@media screen and (max-width: 540px) {
  .under-container .left {
    width: 0;
  }

  .under-container .right {
    width: 100%;
    height: 100%;
  }

  .main .controllers-container .dims {
    justify-content: center;
  }

  .main .controllers-container .dims .dim {
    margin-bottom: 15px;
  }
  .desc h1 {
    font-size: 38px;
  }

  .desc p {
    font-size: 18px;
  }

  .main .controllers-container .border-radius p {
    font-size: 13px;
  }

  .main .controllers-container h2 {
    font-size: 20px;
  }

  .footer {
    padding: 25px 10px;
  }
}
